@import "./Utils";

#chat-component {
  height: 100%;
  width: 100%;
  font-family: $zeus-font;
  background-color: $main-grey-1;
  #chat-zeus-container {
    margin-top: 40px;
    margin-bottom: 40px;
    #chat-zeus-avatar {
    }
    #chat-message-zeus {
      margin-top: 10px;
      display: table !important;
      background-color: $main-grey-5;
      color: $main-grey-2;
      border: 1px solid $main-grey-6;
      padding: 20px;
      border-radius: 30px;
      display: inline-block;
    }
  }
  #chat-input {
    border-top: 2px solid $main-gold-2;
    background-color: $main-grey-6;
    .el-input {
      width: 80%;
      height: 50px;
      margin: auto;
      margin-top: 45px;
      display: inline-block;
      text-align: center;
    }
    .el-button {
      margin: auto;
      margin-top: 15px;
      margin-bottom: 15px;
      width: 250px;
      border-color: $main-gold-2;
      background-color: $main-gold-2;
      color: $main-grey-2;
      display: inline-block;
      font-weight: bolder;
      &:hover:enabled {
        background-color: $main-gold-2;
        color: $main-white-1;
      }
    }
  }
}
