// font
@import url("https://fonts.googleapis.com/css?family=Montserrat");

$zeus-font: 'Montserrat', sans-serif;

// color scheme
$main-grey-1: #292929;
$main-grey-2: #373737;
$main-grey-3: #5D5E5E;
$main-grey-4: #A7A6A6;
$main-grey-5: #DCDCDC;
$main-grey-6: #F7F7F7;
$main-gold-1: #E9A742;
$main-gold-2: #F4A94B; //button
$main-white-1: #FFFFFF;

//animation
.fade-enter-active {
  transition: opacity .7s;
}

.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */
{
  opacity: 0;
}

//responsive width
$break-width-legacy: 420px;
$break-width-phone: 768px;
$break-width-tablet: 1024px;
$break-width-pc: 1224px;
$break-width-wide-screen: 1824px;
