__pycache__
venv
services/**/*.pyc
data/**/*.extended.txt
data/**/*.pickle
feature_extraction/WordVectors/*.pickle
.cache
.coverage
.idea/*
./**/*.iml
feature_extraction/Documentation/clause_finder.json
feature_extraction/Documentation/example.txt

