__pycache__
venv
data/**/*.extended.txt
data/**/*.pickle
preprocessing/French/*.pickle
feature_extraction/WordVectors/*.pickle
.cache
.coverage
.idea/*
./**/*.iml
feature_extraction/Documentation/clause_finder.json
feature_extraction/Documentation/example.txt
src/__pycache__/__init__.cpython-35.pyc
src/__pycache__/__init__.cpython-36.pyc
