__pycache__
venv
services/**/*.pyc
gram_classify/data/**/*.extended.txt
gram_classify/data/**/*.pickle
preprocessing/French/*.pickle
feature_extraction/WordVectors/*.pickle
.cache
.coverage
.idea/*
./**/*.iml
feature_extraction/Documentation/clause_finder.json
feature_extraction/Documentation/example.txt
