@import "./Utils";

#chat-component {
  height: 100%;
  background-color: $main-gold-1;
  overflow: hidden;
  #chat-widow {
    background-color: $main-grey-6;
    width: 100%;
    height: 78%;
    overflow-y: scroll;
    overflow-x: hidden;
    .chat-message-container {
      min-height: 120px;
      .chat-message-text {
        p {
          padding-left: 20px;
          padding-right: 20px;
          padding-top: 5px;
          word-wrap: break-word;
          font-size: 18px;
          margin-top: 5px;
        }
      }
      .chat-message-img {
        img {
          margin-top: 7px;
          height: 90px;
        }
      }
    }
    .chat-message {
      font-size:20px;
      margin-top: 10px;
      padding-top: 15px;
      padding-bottom: 10px;
      border-radius: 5px;
      background: $main-grey-6;
      min-height: 60px;
    }
    .chat-message-user {
      @extend .chat-message;
      text-align: right;
    }
    .chat-message-zeus {
      @extend .chat-message;
      text-align: left;
      background-color: $main-grey-6;
    }
    &::-webkit-scrollbar-track {
      background-color: $main-grey-6;
    }
    &::-webkit-scrollbar {
      width: 10px;
      background-color: $main-grey-6;
    }
    &::-webkit-scrollbar-thumb {
      background-color: gold;
      background-image: -webkit-linear-gradient(45deg,
      rgba(255, 255, 255, .2) 25%,
      transparent 25%,
      transparent 50%,
      rgba(255, 255, 255, .2) 50%,
      rgba(255, 255, 255, .2) 75%,
      transparent 75%,
      transparent)
    }
  }
  #chat-input {
    border-top: 1px solid gold;
    background-color: $main-grey-5;
    height: 23%;
    #chat-input-text {
      text-align: center;
      width: 80%;
      height: 50px;
      margin: auto;
      margin-top: 45px;
    }
    #chat-input-submit {
      margin: auto;
      margin-top: 15px;
      width: 250px;
      border-color: $main-gold-2;
      color: black;
      &:hover:enabled {
        background-color: $main-gold-2;
        color: $main-white-1;
      }
    }
    #chat-input-voice {
    }
  }
}
