@import "./Utils";

#chat-component {
  height: 100%;
  background-color: $main-gold-1;
  overflow: hidden;
  #chat-history {
    overflow-y: scroll;
    width: 100%;
    height: 100%;
    background-color: rgba(41,41,41,0.8);
    position: fixed;
    z-index: 999;
    ul {
      padding: 0px;
      text-align: left;
      list-style: none;
      margin-top: 40px;
      li {
        margin-left: 100px;
        color: $main-white-1;
      }
    }
  }
  #chat-widow {
    background-color: $main-grey-6;
    width: 100%;
    height: 78%;
    #logout {
      cursor: pointer;
      img {
        margin-top: 10px;
      }
      p {
        font-weight: bold;
        color: $main-gold-2;
      }
    }
    .chat-message {
      margin-top: 60px;
      min-height: 50px;
      border-radius: 25px;
      border: 2px solid $main-gold-2;
      background-color: $main-grey-5;
      p {
        text-align: center;
        margin: auto;
        padding: 12px;
      }
      img {
        margin: auto;
        padding: 10px;
        height: 48px;
      }
    }
    #chat-zeus-container {
      min-height: 40%;
      #chat-zeus-avatar {
        margin-top: 30px;
      }
      #chat-message-zeus {
        @extend .chat-message;
        margin-top: 30px;
        label {
          width: 80%;
          cursor: pointer;
          &:hover {
            background-color: $main-grey-5;
          }
          p {
            font-style: italic;
          }
        }
        #file-upload-button-group, #pre-selected-answer-group {
          button {
            margin-bottom: 10px;
            height: 50px;
          }
          p {
            font-size: 8px;
            color: green;
            font-style: italic;
          }
        }
      }
    }
    #chat-user-container {
      #chat-user-avatar {
        margin-top: 60px;
      }
      #chat-message-user {
        @extend .chat-message;
      }
    }
    .msgIsSent {
      border-color: mediumturquoise !important;
    }
  }
  #chat-input {
    border-top: 1px solid gold;
    background-color: $main-grey-5;
    height: 23%;
    #chat-input-text {
      text-align: center;
      width: 80%;
      height: 50px;
      margin: auto;
      margin-top: 45px;
    }
    #chat-input-submit {
      margin: auto;
      margin-top: 15px;
      width: 250px;
      border-color: $main-gold-2;
      color: black;
      &:hover:enabled {
        background-color: $main-gold-2;
        color: $main-white-1;
      }
    }
    #chat-history-button {
      display: inline-block;
      position: fixed;
      bottom: 10px;
      right: 10px;
      cursor: pointer;
      z-index: 999;
    }
  }
}
