// font
@import url("https://fonts.googleapis.com/css?family=Poppins");
$zeus-font: 'Poppins', sans-serif;

// color scheme
$main-grey-1: #373737;
$main-grey-2: #DCDCDC;
$main-grey-3: #F7F7F7;
$main-grey-font: #B0AFAF;
$main-gold-1: #E9A742;
$main-gold-2: #F4A94B; //button
$main-white-font: #FFFFFF;
