**/__pycache__
**/venv
.cache
.coverage
coverage.xml
.idea/
./**/*.iml
.idea/*
/src/ml_ser
/precedents/text_bk/*
/word_vectors/*.bin
/outputs/test/*
/outputs/*log
/ml_models/*.bin
/feature_extraction/clustering/optimization/*.txt

