__pycache__
venv
.cache
.coverage
coverage.xml
.idea/
./**/*.iml
.idea/*
*.bin
/preprocessing/French/french_data/*
/preprocessing/train.py
/preprocessing/French/NerTraining.py
/preprocessing/French/Clustering/first_pass/*
/preprocessing/French/Clustering/outliers/*
/preprocessing/French/Clustering/second_pass/*
